:root {
  --c-bg: #eff1f5;
  --c-edge: #dce0e8;
  --c-decor: #ccd0da;
  --c-text: #4c4f69;
  --c-link: #ea76cb;
  --bg-img: url(/res/img/latte.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #1e1e2e;
    --c-edge: #11111b;
    --c-decor: #313244;
    --c-text: #cdd6f4;
    --c-link: #cba6f7;
    --bg-img: url(/res/img/mocha.png);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
  text-align: center;
}

hr {
  border: none;
  border-top: 3px double var(--c-decor);
  color: var(--c-decor);
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 1.2rem 0;
}

hr::after {
  background: var(--c-bg);
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

body {
  background-image: var(--bg-img);
  color: var(--c-text);
}

td {
  padding-right: 1rem;
}

a {
  color: var(--c-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#top {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
  margin-bottom: 1rem;
}

div#top h1 {
  margin-bottom: 0;
}

div.container {
  background-color: var(--c-bg);
  max-width: 800px;
  margin: 3rem auto;
  padding: 1rem;
  border: 1px solid var(--c-edge);
}

img {
  max-width: 100%;
  height: auto;
}

img#pigeon {
  max-width: 64px;
}

.monospace {
  font-family: monospace;
}

.vis-light {
  display: block;
}

.vis-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .vis-light {
    display: none;
  }
  .vis-dark {
    display: block;
  }
}
