:root {
  --c-bg1: #faaca8;
  --c-bg2: #ddd6f3;
  --c-fg1: #4158d0;
  --c-fg2: #c850c0;
  --c-text: #302020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg1: #4158d0;
    --c-bg2: #c850c0;
    --c-fg1: #faaca8;
    --c-fg2: #cac0f0;
    --c-text: #f0e0e0;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: var(--c-bg1);
  background: linear-gradient(19deg, var(--c-bg1) 0%, var(--c-bg2) 100%);
  color: var(--c-text);
  height: 100vh;
  padding: 3rem;
}

div.title-block {
  max-width: fit-content;
  margin-bottom: 5rem;
}

h1.title {
  font-size: 72px;
}

h1.title>span {
  display: inline-block;
}

h2.subtitle {
  text-align: right;
  margin-top: -3rem;
}

@media (max-width: 1200px) {
  h1.title {
    font-size: 48px;
  }

  h2.subtitle {
    margin-top: -2rem;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  div.title-block {
    margin-bottom: 3rem;
  }

  h2.subtitle {
    text-align: center;
  }
}

a {
  color: var(--c-fg1);
  text-decoration: none;
  transition: 0.1s ease;
}

a:hover {
  color: var(--c-fg2);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.magic {
  background-color: var(--c-fg1);
  background: linear-gradient(43deg, var(--c-fg1) 0%, var(--c-fg2) 50%, var(--c-fg1) 100%);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: magic 5s linear infinite;
}

@keyframes magic {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}