{% extends "base.j2" %}

{% block styles %}
<link rel="stylesheet" href="/res/css/index.css">
{% endblock styles %}

{% block body %}

<div class="title-block">
  <h1 class="title"><span>welcome to</span> <span><span class="magic">the pigeon zone</span>.</span></h1>
  <h2 class="subtitle">please enjoy your stay</h2>
</div>

<h3>we've got:</h3>

<div class="cards">

  <a href="/rosetta" class="card-link">
    <div class="card">
      <h4>the rosetta stone</h4>

      <div class="stone">
        {% for inscription in inscriptions %}
        <div class="inscription">
          <p>{{ inscription.language }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </a>

  <a href="https://github.com/backwardspy" class="card-link">
    <div class="card">
      <h4>a github page</h4>
      <p>(where i make it as difficult as possible to change the colour of your favourite application)</p>
    </div>
  </a>

  <a href="/ctp" class="card-link">
    <div class="card">
      <h4>some dancing bois</h4>
      <span class="oversize">🕺🕺🕺</span>
    </div>
  </a>

</div>

{% endblock body %}

{% block garbage %}
<script>
  let rect;

  function mouseenter(ev) {
    let card = ev.currentTarget;
    rect = card.getBoundingClientRect();
  }

  function mousemove(ev) {
    const deflect = 10;
    let card = ev.currentTarget;
    let halfW = rect.width / 2;
    let halfH = rect.height / 2;
    let midX = rect.left + halfW;
    let midY = rect.top + halfH;
    let dx = -deflect * (ev.clientX - midX) / halfW;
    let dy = deflect * (ev.clientY - midY) / halfH;
    card.style.setProperty('--dx', `${dx}deg`);
    card.style.setProperty('--dy', `${dy}deg`);

    card.style.setProperty('--px', `${dx * 15}px`);
    card.style.setProperty('--py', `${dy * -15}px`);
  }

  function mouseleave(ev) {
    let card = ev.currentTarget;
    card.style.setProperty('--dx', '0deg');
    card.style.setProperty('--dy', '0deg');
    card.style.setProperty('--px', '0px');
    card.style.setProperty('--py', '0px');
    rect = null;
  }

  let cards = document.querySelectorAll('div.card');
  for (let card of cards) {
    card.addEventListener('mouseenter', mouseenter);
    card.addEventListener('mousemove', mousemove);
    card.addEventListener('mouseleave', mouseleave);
  }
</script>
{% endblock garbage %}