{% extends "base.j2" %}

{% block container %}

<div id="top">
  <img id="pigeon" src="res/img/avatar.webp" width="64" height="64" />
  <div>
    <h1>pigeon</h1>
    <sub>aka backwardspy</sub>
  </div>
  <em>best viewed at 1024x768</em>
</div>

<nav>
  <a href="/">index</a>
  &middot;
  <a href="/rosetta">the catppuccin rosetta stone</a>
  &middot;
  <a href="/ctp">uhhh</a>
</nav>

<hr />

<p>you can find me on <a href="https://github.com/backwardspy">GitHub</a>,
  where i help to make it as hard as possible to change the colour of your
  favourite applications.</p>

<p>i am staff at <a href="https://catppuccin.com">Catppuccin</a> and a
  backend developer at <a href="https://bink.com">Bink</a>.</p>

<p>some of my more recent or interesting projects:
<ul>
  <li><a href="https://github.com/catppuccin/toolbox/tree/main/whiskers">whiskers</a> - a templating tool to simplify
    the creation of Catppuccin ports</li>
  <li><a href="https://github.com/backwardspy/audiovisual-supercollider">audiovisual-supercollider</a> - hide audio
    inside bitmap images</li>
  <li><a href="https://github.com/backwardspy/firepower">firepower</a> - a game i made with godot for olcCodeJam2020
  </li>
  <li><a href="https://github.com/catppuccin/rust">catppuccin for rust</a></li>
  <li><a href="https://github.com/catppuccin/python">catppuccin for python</a></li>
  <li><a href="https://github.com/backwardspy/spacelib2">spacelib2</a> - a gamedev library for the Commodore 64</li>
</ul>
</p>

<hr />

<p>when i take photos that i like, i put them on
  <a href="https://500px.com/p/backwardspy">500px</a>. they are mostly birds.
</p>

<p>here's one of a pigeon:</p>

<img src="res/img/pigeon.webp" width="800" height="533" alt="pigeon" />

<hr />

<img class="vis-light" src="res/img/visitors-latte.webp" width="107" height="50" alt="visitor count (light)" />
<img class="vis-dark" src="res/img/visitors-mocha.webp" width="107" height="50" alt="visitor count (dark)" />
<p>(that's not a visitor count, it's just a picture.)</p>

{% endblock container %}