{% extends "base.j2" %}

{% block styles %}
<link rel="stylesheet" href="/res/css/rosetta.css" />
{% endblock styles %}

{% block title %}catppuccin rosetta stone{% endblock title %}

{% block body %}
<h1>the catppuccin stone</h1>
<div class="stone">
  {% for inscription in inscriptions -%}
  <div class="inscription">
    {% for line in inscription.content | lines -%}
    <p>{{ line }}</p>
    {% endfor -%}
    <p class="credit">
      <small>
        {{ inscription.language }} translation by <a href="{{ inscription.link }}">{{ inscription.author }}</a>
      </small>
    </p>
  </div>
  {%- endfor %}
</div>
{% endblock body %}