---
import BaseLayout from "./BaseLayout.astro";

interface Props {
    title: string;
    noHeader?: boolean;
}

// @ts-ignore  it doesn't like `frontmatter`, but it still works
const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title} noHeader>
    <div class="content">
        <h1>{title}</h1>
        <main>
            <slot />
        </main>
    </div>
</BaseLayout>

<style lang="css" is:global>
    div.content {
        margin: 0 auto;
        max-width: 800px;
        padding: 2rem;
        background-color: var(--c-bg2);
        line-height: 1.6;
    }
</style>
